{% extends 'student/_layout.html.twig' %}

{# twigs: tab #}

{% block content %}

  {# title #}
  <h3>Student Area</h3>

  {# tabs #}
  {% set leftTabs = [['about', 'About']] %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# about tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'about', 'active': tab == 'about'} %}
      {% block content %}
        <p>Welcome to the Turtle Forum. This section of the site is divided into three sections: <a href="{{ path('student_courses') }}">Courses</a>, <a href="{{ path('student_files') }}">Files</a>,  and <a href="{{ path('student_feedback') }}">Feedback</a>. In the <a href="{{ path('student_courses') }}">Courses</a> section you can join your teacher's courses (your teacher will give you a passcode to sign up), and then view the course materials and submit work for your assignments. In the <a href="{{ path('student_files') }}">Files</a> section you can upload and view any Turtle programs you have written. Uploaded programs can be submitted as part of your courses, or just stored in your personal folder on this site. In the <a href="{{ path('student_feedback') }}">Feedback</a> section you can submit help requests that we will respond to via email, and send us your suggestions for how the Turtle System or this web site can be improved.</p>
      {% endblock %}
    {% endembed %}

{% endblock %}
