<div class="forum-menu">
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a class="link-box dropdown{% if route == 'teacher_account' or route == 'student_account' %} active{% endif %}" data-action="dropdown">{{ app.user.username }}</a>
    <ul>
      <li><a href="{{ path(app.user.type ~ '_account') }}">My Account</a></li>
      <li><a href="{{ path(app.user.type ~ '_account', { 'tab': 'edit' }) }}">Edit Details</a></li>
      <li><a href="{{ path(app.user.type ~ '_account', { 'tab': 'password' }) }}">Change Password</a></li>
      <li class="divider"></li>
      <li><a href="{{ path('security_logout') }}" data-action="logout">Logout</a></li>
    </ul>
  {% else %}
    <a class="link-box" data-action="modal" data-target="loginModal">Login</a>
  {% endif %}
</div>
