{% extends 'teacher/_layout.html.twig' %}

{# twigs: tab, public #}

{% block content %}

  {# title #}
  <h3>Files</h3>

  {# tabs #}
  {% set leftTabs = [['help', 'Help'], ['current', 'Current Files'], ['public', 'Public Files']] %}
  {% set rightTabs = [['archived', 'Archived Files']] %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'rightTabs': rightTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# help tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'help', 'active': tab == 'help'} %}
      {% block content %}
        {% include '_includes/text/files.html.twig' %}
        {% include '_includes/text/onedrive.html.twig' %}
      {% endblock %}
    {% endembed %}

    {# current files tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'current', 'active': tab == 'current'} %}
      {% block content %}
        {% if app.user.currentCourses|length > 0 %}
          <div class="form">
            <div class="inline-select">
              <label for="currentCoursesSelect">Select a course:</label>
              <select id="currentCoursesSelect" data-action="show-course" data-group="current">
                {% for course in app.user.currentCourses %}
                  <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% for course in app.user.currentCourses %}
            <div class="courseShowHide{% if loop.first %} active{% endif %}" data-group="current" data-course="{{ course.id }}">
              {% include '_includes/panels/course_files.html.twig' with {'course': course} %}
            </div>
          {% endfor %}
        {% else %}
          <p class="none">You do not have any current courses.</p>
        {% endif %}
      {% endblock %}
    {% endembed %}

    {# public files tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'public', 'active': tab == 'public'} %}
      {% block content %}
        {% if public and public.courses|length > 0 %}
          <div class="form">
            <div class="inline-select">
              <label for="publicCoursesSelect">Select a course:</label>
              <select id="publicCoursesSelect" data-action="show-course" data-group="public">
                {% for course in public.courses %}
                  <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% for course in public.courses %}
            <div class="courseShowHide{% if loop.first %} active{% endif %}" data-group="public" data-course="{{ course.id }}">
              {% include '_includes/panels/course_files.html.twig' with {'course': course} %}
            </div>
          {% endfor %}
        {% else %}
          <p class="none">There are no public courses.</p>
        {% endif %}
      {% endblock %}
    {% endembed %}

    {# archived files tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'archived', 'active': tab == 'archived'} %}
      {% block content %}
        {% if app.user.archivedCourses|length > 0 %}
          <div class="form">
            <div class="inline-select">
              <label for="archivedCoursesSelect">Select a course:</label>
              <select id="archivedCoursesSelect" data-action="show-course" data-group="archived">
                {% for course in app.user.archivedCourses %}
                  <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% for course in app.user.archivedCourses %}
            <div class="courseShowHide{% if loop.first %} active{% endif %}" data-group="archived" data-course="{{ course.id }}">
              {% include '_includes/panels/course_files.html.twig' with {'course': course} %}
            </div>
          {% endfor %}
        {% else %}
          <p class="none">You do not have any archived courses.</p>
        {% endif %}
      {% endblock %}
    {% endembed %}

  </div>

{% endblock %}
