{% extends 'teacher/_layout.html.twig' %}

{# twigs: folder, createFileForm, addCurrentFileForm, public, addPublicFileForm, editFolderForm #}

{% block content %}

  {# title #}
  <h3><a href="{{ path('teacher_course', {'course': folder.course.id, 'tab': folder.type }) }}">{{ folder.course.name }}</a> &gt; {{ folder.longName }}</h3>

  {# tabs #}
  {% if folder.type == 'assignment' and not folder.course.public %}
    {% set leftTabs = [['help', 'Help'], ['file', 'Files'], ['submission', 'Submissions']] %}
  {% else %}
    {% set leftTabs = [['help', 'Help'], ['file', 'Files']] %}
  {% endif %}
  {% if folder.course.owner == app.user %}
    {% set rightTabs = [['edit', 'Edit'], ['delete', 'Delete']] %}
  {% else %}
    {% set rightTabs = false %}
  {% endif %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'rightTabs': rightTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# help tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'help', 'active': tab == 'help'} %}
      {% block content %}
        {% if folder.type == 'lesson' %}
          {% include '_includes/text/lessons.html.twig' %}
          {% include '_includes/text/onedrive.html.twig' %}
        {% elseif folder.type == 'assignment' %}
          {% include '_includes/text/assignments.html.twig' %}
          {% include '_includes/text/submissions.html.twig' %}
        {% endif %}
      {% endblock %}
    {% endembed %}

    {# files tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'file', 'active': tab == 'file'} %}
      {% block content %}
        {% if folder.course.owner == app.user %}
          {% embed '_includes/blocks/collapsible_panel.html.twig' with {'type': 'create', 'heading': 'Upload a New File', 'active': not createFileForm.vars.valid} %}
            {% block content %}
              {% include '_includes/forms/create_file.html.twig' with {'form': createFileForm} %}
            {% endblock %}
          {% endembed %}
          {% if app.user.getCurrentFilesArray|length > 0 %}
            {% embed '_includes/blocks/collapsible_panel.html.twig' with {'type': 'add', 'heading': 'Add an Existing File', 'active': false} %}
              {% block content %}
                {% include '_includes/forms/add_file.html.twig' with {'form': addCurrentFileForm} %}
              {% endblock %}
            {% endembed %}
          {% endif %}
          {% if (public and public.getCurrentFilesArray|length > 0) %}
            {% embed '_includes/blocks/collapsible_panel.html.twig' with {'type': 'add', 'heading': 'Add a Public File', 'active': false} %}
              {% block content %}
                {% include '_includes/forms/add_file.html.twig' with {'form': addPublicFileForm} %}
              {% endblock %}
            {% endembed %}
          {% endif %}
        {% endif %}
        {% include '_includes/panels/folder_files.html.twig' with {'folder': folder} %}
      {% endblock %}
    {% endembed %}

    {# submissions tab (for assignments only) #}
    {% if folder.type == 'assignment' and not folder.course.public %}
      {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'submission', 'active': tab == 'submission'} %}
        {% block content %}
          {% include '_includes/panels/assignment_submissions.html.twig' with {'assignment': folder} %}
        {% endblock %}
      {% endembed %}
    {% endif %}

    {% if folder.course.owner == app.user %}
      {# edit tab #}
      {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'edit', 'active': tab == 'edit'} %}
        {% block content %}
          {% embed '_includes/blocks/panel.html.twig' with {'type': 'edit', 'heading': 'Edit ' ~ folder.name} %}
            {% block content %}
              {% include '_includes/forms/edit_folder.html.twig' with {'form': editFolderForm, 'folderType': folder.type} %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}

      {# delete tab #}
      {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'delete', 'active': tab == 'delete'} %}
        {% block content %}
          {% embed '_includes/blocks/panel.html.twig' with {'type': 'delete', 'heading': 'Delete ' ~ folder.name} %}
            {% block content %}
              <p>Are you sure you want to delete this {{ folder.type }}? This action cannot be undone. Any files associated with this {{ folder.type }} only (i.e. not associated with any other lesson or assignment) will also be deleted.</p>
              <div class="form">
                <form action="{{ path('teacher_delete_folder', {'folder': folder.id}) }}" method="post">
                  <div class="form-buttons">
                    <button type="submit" class="red-button">Delete</button>
                  </div>
                </form>
              </div>
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endif %}

  </div>

{% endblock %}
