{% extends 'teacher/_layout.html.twig' %}

{# twigs: tab #}

{% block content %}

  {# title #}
  <h3>Students</h3>

  {# tabs #}
  {% set leftTabs = [['help', 'Help'], ['current', 'Current Students'], ['passcodes', 'Course Passcodes']] %}
  {% set rightTabs = [['archived', 'Archived Students']] %}
  {% include '_includes/blocks/tabs.html.twig' with {'leftTabs': leftTabs, 'rightTabs': rightTabs, 'activeTab': tab} %}

  <div class="forum-tab-panes">

    {# help tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'help', 'active': tab == 'help'} %}
      {% block content %}
        {% include '_includes/text/students.html.twig' %}
        {% include '_includes/text/dummy_student.html.twig' %}
      {% endblock %}
    {% endembed %}

    {# current students tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'current', 'active': tab == 'current'} %}
      {% block content %}
        {% if app.user.currentCourses|length > 0 %}
          <div class="form">
            <div class="inline-select">
              <label for="currentCoursesSelect">Select a course:</label>
              <select id="currentCoursesSelect" data-action="show-course" data-group="current">
                {% for course in app.user.currentCourses %}
                  <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% for course in app.user.currentCourses %}
            <div class="courseShowHide{% if loop.first %} active{% endif %}" data-group="current" data-course="{{ course.id }}">
              {% include '_includes/panels/course_students.html.twig' with {'course': course} %}
            </div>
          {% endfor %}
        {% else %}
          <p class="none">You do not have any current courses.</p>
        {% endif %}
      {% endblock %}
    {% endembed %}

    {# course passcodes tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'passcodes', 'active': tab == 'passcodes'} %}
      {% block content %}
        {% include '_includes/panels/teacher_passcodes.html.twig' with { 'teacher': app.user } %}
      {% endblock %}
    {% endembed %}

    {# archived students tab #}
    {% embed '_includes/blocks/tab_pane.html.twig' with {'id': 'archived', 'active': tab == 'archived'} %}
      {% block content %}
        {% if app.user.archivedCourses|length > 0 %}
          <div class="form">
            <div class="inline-select">
              <label for="archivedCoursesSelect">Select a course:</label>
              <select id="archivedCoursesSelect" data-action="show-course" data-group="archived">
                {% for course in app.user.archivedCourses %}
                  <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% for course in app.user.archivedCourses %}
            <div class="courseShowHide{% if loop.first %} active{% endif %}" data-group="archived" data-course="{{ course.id }}">
              {% include '_includes/panels/course_students.html.twig' with {'course': course} %}
            </div>
          {% endfor %}
        {% else %}
          <p class="none">You do not have any archived courses.</p>
        {% endif %}
      {% endblock %}
    {% endembed %}

  </div>

{% endblock %}
