{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">Current Password</div>
      <div class="form-inputs">
        {{ form_row(form.oldPassword) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">New Password</div>
      <div class="form-inputs">
      {{ form_row(form.newPassword.second) }}
      {{ form_row(form.newPassword.first) }}
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button">Change</button>
    </div>
  {{ form_end(form) }}
</div>
