{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">Course to Clone</div>
      <div class="form-inputs">
      {{ form_row(form.courseToClone) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">New Course Name and Start Date</div>
      <div class="form-inputs">
      {{ form_row(form.name) }}
      {{ form_row(form.startDate) }}
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button">Clone</button>
    </div>
  {{ form_end(form) }}
</div>
