{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">Username and Email</div>
      <div class="form-inputs">
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Password</div>
      <div class="form-inputs">
      {{ form_row(form.password.second) }}
      {{ form_row(form.password.first) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Name</div>
      <div class="form-inputs">
        {{ form_row(form.firstname) }}
        {{ form_row(form.surname) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Agree to Terms</div>
      <div class="form-inputs">
        <div class="form-input">
          <label class="checkbox-label"><input type="checkbox" id="agreeToTerms" required="required" data-action="toggle-submit" data-target="registerButton"> I agree to the <a data-action="modal" data-target="privacyPolicyModal">Privacy Policy</a></label>
        </div>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button" id="registerButton">Register</button>
    </div>
  {{ form_end(form) }}
</div>
