{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">Username and Email</div>
      <div class="form-inputs">
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Password</div>
      <div class="form-inputs">
      {{ form_row(form.password.second) }}
      {{ form_row(form.password.first) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Name</div>
      <div class="form-inputs">
        {{ form_row(form.firstname) }}
        {{ form_row(form.surname) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Personal Data</div>
      <div class="form-inputs">
        {{ form_row(form.dateOfBirth) }}
        {{ form_row(form.homePostcode) }}
      </div>
      <div class="form-help"><b>Why do we ask for this information?</b> The University of Oxford is committed to <a href="http://www.ox.ac.uk/about/increasing-access">increasing access to students of outstanding academic potential, regardless of their background</a>. The information that you provide here will help us assess the effectiveness of this web forum in contributing to this aim. See our <a data-action="modal" data-target="privacyPolicyModal">Privacy Policy</a> for details.</div>
    </fieldset>
    <fieldset>
      <div class="form-legend">School Details</div>
      <div class="form-inputs">
        {{ form_row(form.schoolUrn) }}
        {{ form_row(form.schoolName) }}
        {{ form_row(form.schoolPostcode) }}
      </div>
      <div class="form-help">Your school URN is a 6 digit number, which you can find on the <a href="http://www.education.gov.uk/edubase/home.xhtml" target="blank">Department for Education Schools Database</a>, though your teacher should be able to tell you what this is. When you have entered it into the field above, your school name and postcode should be updated automatically. If not (or if they are wrong), please double check the URN, and change these fields manually if necessary. Enter "000000" into the URN box if you are not a student at a school in England or Wales.</div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Agree to Terms</div>
      <div class="form-inputs">
        <div class="form-input">
          <label class="checkbox-label"><input type="checkbox" id="agreeToTerms" required="required" data-action="toggle-submit" data-target="registerButton"> I agree to the <a data-action="modal" data-target="privacyPolicyModal">Privacy Policy</a></label>
        </div>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button" id="registerButton">Register</button>
    </div>
  {{ form_end(form) }}
</div>