{# twigs: form, folderType #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">{{ folderType|capitalize }} Name</div>
      <div class="form-inputs">
      {{ form_row(form.name) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">{{ folderType|capitalize }} Description</div>
      <div class="form-inputs">
      {{ form_row(form.description) }}
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button">Create</button>
    </div>
  {{ form_end(form) }}
</div>
