{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">Username and Email</div>
      <div class="form-inputs">
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Name</div>
      <div class="form-inputs">
        {{ form_row(form.firstname) }}
        {{ form_row(form.surname) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Personal Data</div>
      <div class="form-inputs">
        {{ form_row(form.dateOfBirth) }}
        {{ form_row(form.homePostcode) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">School Details</div>
      <div class="form-inputs">
        {{ form_row(form.schoolName) }}
        {{ form_row(form.schoolPostcode) }}
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button">Edit</button>
    </div>
  {{ form_end(form) }}
</div>
