{# twigs: form #}

<div class="form">
  {{ form_start(form) }}
    <fieldset>
      <div class="form-legend">Course Name and Start Date</div>
      <div class="form-inputs">
      {{ form_row(form.name) }}
      {{ form_row(form.startDate) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Course Status</div>
      <div class="form-inputs">
      {{ form_row(form.status) }}
      </div>
    </fieldset>
    <fieldset>
      <div class="form-legend">Course Description</div>
      <div class="form-inputs">
      {{ form_row(form.description) }}
      </div>
    </fieldset>
    <div class="form-buttons">
      <button type="submit" class="green-button">Edit</button>
    </div>
  {{ form_end(form) }}
</div>
