{% extends 'system/_layout.html.twig' %}

{% block modals %}{% endblock %}

{% block content %}
  <h1>Computer Science Across the Curriculum</h1>
  <p>As part of a joint project between Oxford University and Queen Mary, University of London, and with funding from the Department for Education, a book entitled &ldquo;Computer Science Across the Curriculum&rdquo; has been written, to illustrate the value of Computer Science in various different aspects of the national curriculum. The book is currently in production for distribution in the coming term, and an electronic version will be linked from this page shortly.</p>
  <ul class="logos-list">
    <li><a href="http://www.ox.ac.uk/" target="blank" title="University of Oxford"><img src="{{ asset('images/oxcrest.png') }}" alt="University of Oxford Logo"></a></li>
    <li><a href="http://www.qmul.ac.uk/" target="blank" title="Queen Mary, University of London"><img src="{{ asset('images/qmul.jpg') }}" alt="Queen Mary, University of London Logo"></a></li>
    <li><a href="https://www.gov.uk/government/organisations/department-for-education" target="blank" title="The Department for Education"><img src="{{ asset('images/govcrest.png') }}" alt="The Department for Education Crest"></a></li>
  </ul>
  <h2>Overview of Contents</h2>
  <p>The book contains a general introductory chapter, followed by another that explains how to handle animation and movement, after which it moves on to simulations in Physics (notably modelling projectile flight and spacecraft). Then a chapter on cellular automata (including a model of disease and cell patterning, and the famous &ldquo;Game of Life&rdquo;) prepares the way for a chapter on Chemistry, covering models of diffusion and Brownian motion. The chapter devoted to Biology includes co-evolution of hunter and prey (cheetahs and gazelles), evolution of the sex ratio, and flocking behaviour.</p>
  <p>Up to this point, the programs have been explained in a fair amount of detail, such as could support teaching in class, but the remaining chapters aim instead to give a brief flavour of more advanced material for independent exploration, with programs and further detail provided online, but only key ideas discussed in the book. In this spirit, there is a chapter on chaos and self-similarity, with mathematical and especially biological examples (population dynamics, algae and plant growth); and another chapter on wave phenomena, which is especially relevant to Physics. Then follows a chapter on games and computer science &mdash; implementing three nice examples from cs4fn (tic-tac-toe, Nim, and the knights&rsquo; tour), and leading up to the Turing machine &mdash; and finally a chapter on Philosophy, covering the Turing test and the theory of the syllogism.</p>
  <h3>Links to the Programs</h3>
  <ol id="csacExamples">
    <li>
      <b>1. Introduction, Computer Science for Fun, and Turtling</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=DrawPause">1.4 Simple drawing with pauses</a></li>
        <li><a href="{{ path('online_home') }}?x=ColourSpiral">1.5 Spiral of colours</a></li>
      </ol>
    </li>
    <li>
      <b>2. Animation and Movement</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=MovingBall">2.1 Moving ball (using variables)</a></li>
        <li><a href="{{ path('online_home') }}?x=BouncingBall">2.2 Bouncing ball (using variables)</a></li>
        <li><a href="{{ path('online_home') }}?x=TurtleMove">2.3 (a) Moving ball (using the Turtle)</a></li>
        <li><a href="{{ path('online_home') }}?x=TurtleBounce">2.3 (b) Bouncing ball (using the Turtle)</a></li>
        <li><a href="{{ path('online_home') }}?x=AskInput">2.4.1 Asking for typed input</a></li>
      </ol>
    </li>
    <li>
      <b>3. Computing in Physics: Cannons and Rockets</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=GravitySteps">3.1 Movement under gravity</a></li>
        <li><a href="{{ path('online_home') }}?x=AimCannon">3.2 (a) Firing a cannon (manual)</a></li>
        <li><a href="{{ path('online_home') }}?x=AutoCannon">3.2 (b) Firing a cannon (automatic)</a></li>
        <li><a href="{{ path('online_home') }}?x=Launch">3.3 Launching a rocket into orbit</a></li>
      </ol>
    </li>
    <li>
      <b>4. Cellular Automata: Modelling Disease, &ldquo;Life&rdquo;, and Shell Patterns</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=LifeStart">4.1 Initialising Conway's Game of Life</a></li>
        <li><a href="{{ path('online_home') }}?x=Disease">4.2 Spread of disease</a></li>
        <li><a href="{{ path('online_home') }}?x=GameOfLife">4.5 Conway's Game of Life</a></li>
        <li><a href="{{ path('online_home') }}?x=Automata">4.6 One-dimensional cellular automata</a></li>
      </ol>
    </li>
    <li>
      <b>5. Computing in Chemistry: Diffusion and Brownian Motion</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=Diffusion">5.1 A model of diffusion</a></li>
        <li><a href="{{ path('online_home') }}?x=BrownianMotion">5.2 Brownian motion</a></li>
      </ol>
    </li>
    <li>
      <b>6. Computing in Biology: Evolution and Behaviour</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=Cheetahs">6.1 Cheetahs and gazelles</a></li>
        <li><a href="{{ path('online_home') }}?x=SexRatio">6.2 The sex ratio</a></li>
        <li><a href="{{ path('online_home') }}?x=Flocking">6.3 Flocking behaviour</a></li>
      </ol>
    </li>
    <li>
      <b>7. Chaos, Recursion, and Self-Similarity</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=Logistic">7.1 (a) Logistic equation</a></li>
        <li><a href="{{ path('online_home') }}?x=LogisticSpider">7.1 (b) Logistic spider</a></li>
        <li><a href="{{ path('online_home') }}?x=Mandelbrot">7.2 Mandelbrot set</a></li>
        <li><a href="{{ path('online_home') }}?x=MandelbrotMini">7.2.1 Mandelbrot mini</a></li>
        <li><a href="{{ path('online_home') }}?x=MandelbrotSpectrum">7.2.2 (a) Mandelbrot spectrum</a></li>
        <li><a href="{{ path('online_home') }}?x=MandelbrotMiniSpectrum">7.2.2 (b) Mandelbrot mini spectrum</a></li>
        <li><a href="{{ path('online_home') }}?x=Triangles">7.3 (a) Recursive triangles</a></li>
        <li><a href="{{ path('online_home') }}?x=Sierpinski">7.3 (b) Sierpinski triangle</a></li>
        <li><a href="{{ path('online_home') }}?x=SierpinskiDots">7.3 (c) Sierpinski dots</a></li>
        <li><a href="{{ path('online_home') }}?x=IFSBackground">7.4 (a) Iterated function systems (IFS) background</a></li>
        <li><a href="{{ path('online_home') }}?x=SierpinskiColour">7.4 (b) Sierpinski colour</a></li>
        <li><a href="{{ path('online_home') }}?x=SierpinskiIFS">7.4 (c) Sierpinski IFS</a></li>
        <li><a href="{{ path('online_home') }}?x=BarnsleyIFS">7.5 (a) Barnsley IFS</a></li>
        <li><a href="{{ path('online_home') }}?x=BarnsleyColour">7.5 (b) Barnsley colour</a></li>
        <li><a href="{{ path('online_home') }}?x=TreeIFS">7.5 (c) Tree IFS</a></li>
        <li><a href="{{ path('online_home') }}?x=DragonIFS">7.5 (d) Dragon IFS</a></li>
        <li><a href="{{ path('online_home') }}?x=DragonColour">7.5 (e) Dragon colour</a></li>
      </ol>
    </li>
    <li>
      <b>8. Waves and Quantum Mechanics</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=Interference">8.3 Interference</a></li>
        <li><a href="{{ path('online_home') }}?x=WaveSuperposer">8.5 Wave superposer</a></li>
        <li><a href="{{ path('online_home') }}?x=TwoSlits">8.6 Young's two-slit experiment</a></li>
      </ol>
    </li>
    <li>
      <b>9. Games and Computer Science</b>
      <ol class="list">
        <li><a href="{{ path('online_home') }}?x=KnightsTour">9.1 Knight's tour</a></li>
        <li><a href="{{ path('online_home') }}?x=MultiNim">9.2 Nim with multiple piles</a></li>
        <li><a href="{{ path('online_home') }}?x=NoughtsAndCrosses">9.3 Noughts and Crosses</a></li>
      </ol>
    </li>
  </ol>
{% endblock %}
