{% extends 'system/_layout.html.twig' %}

{% block content %}
  <h1>The Turtle System</h1>
  <p>The <i>Turtle System</i> is a free educational program developed at the University of Oxford, designed to support the new Computer Science component of the National Curriculum. It is based on <i>Turtle Graphics</i>, an idea invented by Seymour Papert, in which an imaginary turtle moves around the computer screen drawing as it goes, all under the control of instructions given by a computer program. This sort of programming, and the results it produces, are easy to understand because they are so immediately visual. But the <i>Turtle System</i> provided here shows that Papert&lsquo;s idea can go well beyond simple graphics, to provide a basis for fascinating and powerful programs that introduce fundamental concepts of software engineering and artificial intelligence.</p>
  <h2>Download</h2>
  <p>We are actively developing two versions of the <i>Turtle System</i>: the <i>Delphi Turtle System</i> (or <i>Turtle System D</i>), written in Delphi Pascal, and the <i>Electron Turtle System</i> (or <i>Turtle System E</i>), written in JavaScript and Electron. The former is faster and has more features, but is currently only available for Windows. The latter is available on Windows and Mac, and can also be run in a web browser (see <a href="{{ path('online_home') }}">www.turtle.ox.ac.uk/online</a>).</p>
  <table class="downloads">
    <thead>
      <tr>
        <th></th>
        <th colspan="2"><i>Turtle System D</i></th>
        <th><i>Turtle System E</i></th>
      </tr>
      <tr>
        <th></th>
        <th>v11</th>
        <th>v13</th>
        <th>v01</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <td><a href="{{ path('turtle_tsd', { 'version': '11' }) }}" class="button"><span class="icon windows-icon"></span> Windows</a></td>
        <td><a href="{{ path('turtle_tsd', { 'version': '13' }) }}" class="button"><span class="icon windows-icon"></span> Windows</a></td>
        <td>
          <a href="{{ path('turtle_tse', { 'platform': 'macos' }) }}" class="button"><span class="icon apple-icon"></span>Apple</a>
          <a href="{{ path('turtle_tse', { 'platform': 'win' }) }}" class="button"><span class="icon windows-icon"></span> Windows</a>
        </td>
      </tr>
      <tr>
        <th>Turtle BASIC</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Turtle Pascal</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Turtle Python</th>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Arrays Support</th>
        <td>One-dimensional</td>
        <td>Multi-dimensional</td>
        <td>No support</td>
      </tr>
    </tbody>
  </table>
  <p>The <i>Turtle System</i> requires no installation. Once you have downloaded your preferred file from the links above, simply click or double-click the file to run it. The first time you run the program, your operating system may warn you that it is of unknown origin, and therefore potentially unsafe. On Windows, click &lsquo;More Information&rsquo; and then &lsquo;Run Anyway&rsquo;. On MacOS, control-click the file, select &lsquo;Open&rsquo; from the menu, and then click &lsquo;Open&rsquo;.</p>
  <p>Version 12 of the <i>Turtle System D</i> has been superseded by version 13, which will soon integrate support for Turtle Python, making version 11 obsolete as well. As version 13 is still quite new, however, and not as thoroughly tested, version 12 will continue to be available for a short time from the following link: <a href="{{ path('turtle_tsd', { 'version': '12' }) }}"><i>Turtle System D, version 12</i></a>.
  <h2>Further Information</h2>
  <p>Please see the <a href="{{ path('system_documentation') }}">Documentation</a> page for detailed information about the <i>Turtle System</i> and how to use it. For a discussion of the principles behind the System, see the <a href="{{ path('system_about') }}">About</a> page, or Peter Millican’s articles in <a href="http://www.computingatschool.org.uk/">Computing at School</a>’s <a href="http://community.computingatschool.org.uk/resources/3127">SwitchedOn</a> magazine (reproduced on the <a href="{{ path('system_articles') }}">Articles</a> page).</p>
  <p>As part of a joint project between Oxford University and Queen Mary, University of London, and with funding from the Department for Education, a book entitled &ldquo;Computer Science Across the Curriculum&rdquo; has been written, to illustrate the value of Computer Science in various different aspects of the national curriculum. For details, and links to the example programs, see the <a href="{{ path('system_csac') }}">CSAC</a> page. These examples are also available directly from the 'File' tab of the <a href="{{ path('online_home') }}">Online Turtle System</a>.</p>
  <p>For any additional information, or to make suggestions for future developments, please contact us — details on the <a href="{{ path('system_contact') }}">Contact</a> page.</p>
  <h2>Thanks</h2>
  <ul class="logos-list">
    <li><a href="http://www.cs.ox.ac.uk/" target="blank" title="Department of Computer Science, University of Oxford"><img src="{{ asset('images/compsci.jpg') }}" alt="Department of Computer Science Logo, University of Oxford"></a></li>
    <li><a href="http://www.philosophy.ox.ac.uk/" target="blank" title="Philosophy Faculty, University of Oxford"><img src="{{ asset('images/philfac.png') }}" alt="Philoophy Faculty Logo, University of Oxford"></a></li>
    <li><a href="https://www.gov.uk/government/organisations/department-for-education" target="blank" title="The Department for Education"><img src="{{ asset('images/govcrest.png') }}" alt="The Department for Education Crest"></a></li>
    <li><a href="http://www.hertford.ox.ac.uk/" target="blank" title="Hertford College"><img src="{{ asset('images/hertcrest.png') }}" alt="Hertford College Crest"></a></li>
  </ul>
  <p>This project is funded by the <a href="https://www.gov.uk/government/organisations/department-for-education" target="blank">Department for Education</a>, with matched funding from various sources within the University of Oxford (the <a href="http://www.cs.ox.ac.uk/" target="blank">Department of Computer Science</a>, the <a href="http://www.admin.ox.ac.uk/councilsec/trusts/applying/vanhoutenfund/" target="blank">Van Houten Fund</a>, and a private donor at <a href="http://www.hertford.ox.ac.uk/" target="blank">Hertford College</a>). It is housed in the University of Oxford&rsquo;s <a href="http://www.philosophy.ox.ac.uk/" target="blank">Faculty of Philosophy</a>.</p>
{% endblock %}
