{# twigs: course #}

{% if course.assignments|length > 0 %}
  <table class="table table-hover">
    <thead>
      <tr>
        {% if course.owner == app.user %}
          <th>Move</th>
        {% endif %}
        <th>Name</th>
        <th>Description</th>
        {% if course.owner == app.user %}
          <th>Submissions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for assignment in course.assignments %}
        <tr data-action="href" data-target="{{ path(app.user.type ~ '_folder', { 'folder': assignment.id }) }}">
          {% if course.owner == app.user %}
            <td class="nowrap">
              <a class="up" href="{{ path('teacher_move_folder', {'folder': assignment.id, 'direction': 'down'}) }}"></a>
              <a class="down" href="{{ path('teacher_move_folder', {'folder': assignment.id, 'direction': 'up'}) }}"></a>
            </td>
          {% endif %}
          <td class="nowrap">{{ assignment.number }}. {{ assignment.name }}</td>
          <td class="stretch">{% if assignment.description %}{{ assignment.description }}{% else %}-{% endif %}</td>
          {% if course.owner == app.user %}
            <td>{{ assignment.submissions|length }} of {{ assignment.course.students|length }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="none">There are no assignments for this course.</p>
{% endif %}
