{# twigs: course #}

{% embed '_includes/blocks/panel.html.twig' with {'type': 'details', 'heading': 'Details for ' ~ course.name} %}
  {% block content %}
    <table class="details">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ course.name }}</td>
        </tr>
        <tr>
          <td>Teacher</td>
          <td>{{ course.owner.title }} {{ course.owner.surname }}</td>
        </tr>
        <tr>
          <td>Start date</td>
          <td>{{ course.startDate|date('d/m/Y') }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{% if course.description %}{{ course.description }}{% else %}<i>no description</i>{% endif %}</td>
        </tr>
        {% if not course.public %}
          <tr>
            <td>Students</td>
            <td>{{ course.students|length }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% endblock %}
{% endembed %}
