{# twigs: course, student #}

{% if course.assignments|length > 0 %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Program</th>
        <th>Uploaded</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in course.assignments %}
        {% set submission = assignment.studentSubmission(student) %}
        <tr data-action="href" data-target="{{ path(app.user.type ~ '_folder', {'folder': assignment.id, 'tab': 'submission'}) }}">
          <td class="nowrap stretch">{{ assignment.number }}. {{ assignment.name }}</td>
          {% if submission %}
            <td class="nowrap">{{ submission.name }}</td>
            <td class="nowrap">{{ submission.uploadedDate|date('d/m/Y') }}</td>
            <td class="nowrap">
              <a class="table-button blue-button" href="{{ path('forum_download_file', {'file': submission.id}) }}">Download</a>
              <a class="table-button green-button" href="{{ path('online_home') }}?f={{ path('forum_view_file', { 'file': submission.id, 'filename': submission.name ~ '.' ~ submission.ext }) }}">View in Browser</a>
            </td>
          {% else %}
            <td>-</td>
            <td></td>
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="none">There are no assignments for this course.</p>
{% endif %}
