{# twigs: course #}

{% if course.lessons|length > 0 %}
  <table class="table table-hover">
    <thead>
      <tr>
        {% if course.owner == app.user %}
          <th>Move</th>
        {% endif %}
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for lesson in course.lessons %}
        <tr data-action="href" data-target="{{ path(app.user.type ~ '_folder', {'folder': lesson.id}) }}">
          {% if course.owner == app.user %}
            <td class="nowrap">
              <a class="up" href="{{ path('teacher_move_folder', {'folder': lesson.id, 'direction': 'down'}) }}"></a>
              <a class="down" href="{{ path('teacher_move_folder', {'folder': lesson.id, 'direction': 'up'}) }}"></a>
            </td>
          {% endif %}
          <td class="nowrap">{{ lesson.number }}. {{ lesson.name }}</td>
          <td class="stretch">{% if lesson.description %}{{ lesson.description }}{% else %}-{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="none">There are no lessons for this course.</p>
{% endif %}
