{# twigs: file #}

{% embed '_includes/blocks/panel.html.twig' with {'type': 'details', 'heading': 'Details for ' ~ file.fullname} %}
  {% block content %}
    <div class="download-buttons">
      <a class="button blue-button" href="{{ path('forum_download_file', {'file': file.id}) }}">Download</a>
      {% if file.program %}
        <a class="button green-button"  href="{{ path('online_home') }}?f={{ path('forum_view_file', { 'file': file.id, 'filename': file.name ~ '.' ~ file.ext }) }}">View in Browser</a>
      {% elseif file.link %}
        <a class="button green-button" href="{{ file.link }}" target="blank">View in Browser</a>
      {% else %}
        <a class="button green-button" href="{{ path('forum_view_file', { 'file': file.id }) }}">View in Browser</a>
      {% endif %}
    </div>
    <table class="details">
      <tbody>
        <tr>
          <td>File Type:</td>
          <td>{{ file.type }}</td>
        </tr>
        <tr>
          <td>File Size:</td>
          <td>{{ file.size(true) }}</td>
        </tr>
        {% if not file.public %}
          <tr>
            <td>Date Uploaded:</td>
            <td>{{ file.uploadedDate|date('d/m/Y') }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% endblock %}
{% endembed %}
