{# twigs: student #}

<table class="table table-hover">
  <thead>
    <tr>
      <th>Program</th>
      <th>Uploaded</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for program in student.programs %}
      <tr data-action="href" data-target="{{ path(app.user.type ~ '_file', {'file': program.id}) }}">
        <td class="nowrap stretch">{{ program.name }}</td>
        <td class="nowrap">{{ program.uploadedDate|date('d/m/Y') }}</td>
        <td class="nowrap">
          <a class="table-button blue-button" href="{{ path('forum_download_file', { 'file': program.id }) }}">Download</a>
          <a class="table-button green-button" href="{{ path('online_home') }}?f={{ path('forum_view_file', { 'file': program.id, 'filename': program.name ~ '.' ~ program.ext }) }}">View in Browser</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
