{# twigs: student #}

{% embed '_includes/blocks/panel.html.twig' with {'type': 'details', 'heading': 'Details for ' ~ student.username} %}
  {% block content %}
  <table class="details">
    <tbody>
      <tr><td>Name:</td><td>{{ student.firstname }} {{ student.surname }}</td></tr>
      <tr><td>Email:</td><td>{{ student.email }}</td></tr>
      <tr><td>School:</td><td>{{ student.schoolName }}</td></tr>
      <tr><td>Courses:</td><td>{{ student.subscriptions|length }} ({{ student.currentSubscriptions|length }} current and {{ student.archivedSubscriptions|length }} archived)</td></tr>
      <tr><td>Submissions:</td><td>{{ student.files|length }}</td></tr>
      <tr><td>Disk Usage:</td><td>{{ student.diskUsage(true) }}</td></tr>
    </tbody>
  </table>
  {% endblock %}
{% endembed %}
