{# twigs: teacher #}

{% embed '_includes/blocks/panel.html.twig' with {'type': 'details', 'heading': 'Details for ' ~ teacher.username} %}
  {% block content %}
    <table class="details">
      <tbody>
        <tr>
          <td>Name:</td>
          <td>{{ teacher.firstname }} {{ teacher.surname }}</td>
        </tr>
        <tr>
          <td>Display Name:</td>
          <td>{{ teacher.title }} {{ teacher.surname }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ teacher.email }}</td>
        </tr>
        <tr>
          <td>School:</td>
          <td>{{ teacher.schoolName }}</td>
        </tr>
        <tr>
          <td>Courses:</td>
          <td>{{ teacher.courses|length }} ({{ teacher.currentCourses|length }} current and {{ teacher.archivedCourses|length }} archived)</td>
        </tr>
        <tr>
          <td>Files:</td>
          <td>{{ teacher.files|length }}</td>
        </tr>
        <tr>
          <td>Disk Usage:</td>
          <td>{{ teacher.diskUsage(true) }}</td>
        </tr>
      </tbody>
    </table>
  {% endblock %}
{% endembed %}
