{# twigs: teacher, courseType, public #}

{% if teacher and teacher.coursesByType(courseType)|length > 0 %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        {% if public %}
          <th></th>
        {% else %}
          <th>Students</th>
          <th class="nowrap">Start Date</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for course in teacher.coursesByType(courseType) %}
        <tr data-action="href" data-target="{{ path(app.user.type ~ '_course', {'course': course.id}) }}">
          <td class="nowrap">{{ course.name }}</td>
          {% if public %}
            <td class="nowrap"><a class="table-button blue-button" href="{{ asset('downloads/coursezips/' ~ course.name ~ '.zip') }}">Download Course Files</a></td>
          {% else %}
            <td>{{ course.students|length }}</td>
            <td class="nowrap">{{ course.startDate|date('d/m/Y') }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  {% if public %}
    <p class="none">There are no public courses.</p>
  {% else %}
    <p class="none">You do not have any {{ courseType }} courses.</p>
  {% endif %}
{% endif %}
