<html>
  <head></head>
  <body>
    <img src="{{ email.image('@images/turtle.png') }}" alt="Logo">
    <p>Dear {{ user.firstname }} {{ user.surname }},</p>
    <p>Please verify your account: <a href="https://www.turtle.ox.ac.uk/verify/{{ user.id }}/{{ user.token }}">link</a>.</p>
  </body>
</html>
